<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>menu</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.MenuController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>menu</servlet-name>
        <url-pattern>/servlet/main_menu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllUsers</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.GetAllUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllUsers</servlet-name>
        <url-pattern>/servlet/getAllUsers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/servlet/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.DeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/servlet/deleteUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addItem</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.AddItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addItem</servlet-name>
        <url-pattern>/servlet/addItem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllItems</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.GetAllItemsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllItems</servlet-name>
        <url-pattern>/servlet/getAllItems</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addItemToBucket</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.AddItemToBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addItemToBucket</servlet-name>
        <url-pattern>/servlet/addItemToBucket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteItemFromBucket</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.DeleteItemFromBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteItemFromBucket</servlet-name>
        <url-pattern>/servlet/deleteItemFromBucket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showOrder</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.ShowOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showOrder</servlet-name>
        <url-pattern>/servlet/showOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>completeOrder</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.CompleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>completeOrder</servlet-name>
        <url-pattern>/servlet/complete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showBucket</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.ShowBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showBucket</servlet-name>
        <url-pattern>/servlet/getBucket</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>mate.academy.internetshop.controllers.InjectInitializer</listener-class>
    </listener>
</web-app>